# Auto detect text files and perform LF normalization
* text=auto

APLSource/ linguist-detectable=true

*.dyalog linguist-language=Dyalog APL
*.dws linguist-language=Dyalog APL
*.dyapp linguist-language=Dyalog APL
*.class linguist-language=Dyalog APL
*.function linguist-language=Dyalog APL
*.operator linguist-language=Dyalog APL
*.script linguist-language=Dyalog APL